*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: lightsteelblue;
  font-family: 'Shadows Into Light', cursive;
}

h1 {
  text-align: center;
  font-size: 3em;
}

h2 {
  font-size: 3em;
  margin: 0;
}

/* button styles */
#list {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

button {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.5em;
  border-radius: 0.5em;
  margin-bottom: 0.25em;
  box-shadow:  3px 3px 3px 0 gray;
}

button:hover {
  box-shadow:  3px 3px 3px 0 black;
  background-color: lightskyblue;

}

/* pet display area */
#petSpace {
  width: 100%;
  max-width: 500px;
  padding: 1em;
  margin: 1em auto;
  background-color: #c6ad8f;
  border-radius: 1em;
  box-shadow:  3px 3px 3px 0 gray;
}

#view {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
}

.clickBox {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.space {
  width: 90%;
  align-self: center;
  border-radius: 1em;
}

#adminForm {
  display: none;
}

@media screen and (min-width: 500px) {

  #view {
    flex-direction: row;
    width: 100%;
  }
}